#root{
  min-width: 100vw;
  min-height: 100vh;
}

.bg-sky-blue {
  background-color: skyblue;
}

i:hover {
  background: #dadada;
  width: 30px;
  border-radius: 4px;
}

#boton-plus:hover {
  background: rgb(97, 192, 230);
}
#boton-plus {
  border-radius:0 inherit 0 0 !important;
  cursor: pointer;
}

.icon-plus:hover {
  background: rgb(97, 192, 230);
}

.img {
  width: 100px;
}

.icono-sangre {
  width: 35px;
  height: 35px;
}

.navbar-tukp {
  background-color: skyblue;
  padding: 40px;
}

.link {
  color: white;
}

.lista {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista li {
  margin-left: 30px;
}

.button-container button {
  margin: 0 !important;
}

.leaflet-container{
  width: 100%;
  height: 500px;
}

.btn-color {
  background: skyblue;
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: skyblue;
  color: white;
}